<!DOCTYPE html>
{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link href="{% static 'pasar/style_pasar.css' %}" rel="stylesheet" type="text/css">
<title>Tambah Pasar</title>
{% endblock %}

{% block headercontent %}
<span style="font-size: 70px; line-height: normal;"> +Tambah Pasar</span>
{% endblock %}

{% block content %}
<br><br>

<div class="container" style="margin: auto;">
    <div style="padding-right: 20px;">
        <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white; 
        width: 12rem; margin-bottom: 30px ;margin-top: 30px;" id="ubah-tema" role="button">Ubah Tema</a>
    </div>
    <div class="container p-5" style="background-color: rgb(226, 226, 226); border-radius: 15px;">
        <div class="row">
            <p class="card-text" style="margin: 20px;">
            <form id="addForm" method="POST" enctype="multipart/form-data" style="margin: 10px;">
                <div class="form-group" style="width: 100%;">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Nama Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.namaPasar }}
                            <span id="letter-count-nama"><span id="nama">0</span>/25</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Status Covid:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.statuscovidPasar }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Hotline Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.hotlinePasar }}
                            <span id="letter-count-hotl"><span id="telpon">0</span>/13</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Jam Buka Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jambukaPasar }}
                            <span id="letter-count-buka"><span id="buka">0</span>/5</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Jam Tutup Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jamtutupPasar }}
                            <span id="letter-count-tutup"><span id="tutup">0</span>/5</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Alamat Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.alamatPasar }}
                            <span id="letter-count-alamat"><span id="alamats">0</span>/100</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">
                            <h5>Link Foto Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.fotoPasar }}
                        </div>
                    </div>
                    <div id="messageBox"></div>


                    <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Tambah" style="width: 150px;" />

                </div>
            </form>
            </p>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'pasar/scripts/addPasarAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'pasar/pasar.js' %}"></script>
{% endblock %}