<!DOCTYPE html>
{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link href="{% static 'pasar/style_pasar.css' %}" rel="stylesheet" type="text/css">

<title>Tempat Berbelanja</title>
{% endblock %}
{% block headercontent %}
<span style="font-size: 70px;">Pasar</span>
{% endblock %}
{% block content %}

<div class="container mx-auto">
    <div> 
    <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white; 
    width: 12rem; margin-bottom: 30px ;margin-top: 30px;" href="{% url 'pasar_zaldy:pasar_tambah' %}" role="button">
    +Tambah Pasar</a>
    <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white; 
    width: 12rem; margin-bottom: 30px ;margin-top: 30px;" id="ubah-tema" role="button">Ubah Tema</a>
    </div>

    <div class="row justify-content-center" id="contentBox">
       
    </div>

</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'pasar/pasar.js' %}"></script>
<script type="text/javascript" src="{% static 'pasar/scripts/pasarAPI.js' %}"></script>

{% endblock %}
