<!DOCTYPE html>
{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link href="{% static 'pasar/style_pasar.css' %}" rel="stylesheet" type="text/css">

<title>Tambah Pasar</title>
{% endblock %}
{% block headercontent %}
<span style="font-size: 70px; line-height: normal;"> Update Pasar</span>
{% endblock %}
{% block content %}

<br><br><br>
<div class="container" style="margin: auto;">
    <div style="padding-right: 20px;">
        <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white; 
        width: 12rem; margin-bottom: 30px ;margin-top: 30px;" id="ubah-tema" role="button">Ubah Tema</a>
    </div>
    <div class="row justify-content-center">
        <div class="card-body "
            style="border: none; border-radius: 20px; border-color: #2c063c; background-color:#F2F2F2; ">

            <p class="card-text">
                <br>
            <form method="POST" style="margin: 10px;">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Nama Pasar:</h5>
                        </label>
                        <div class="col-sm-10" style="pointer-events:none;">
                            {{ form.namaPasar }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Status Covid:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.statuscovidPasar }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Hotline Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.hotlinePasar }}
                            <span id="letter-count-hotl"><span id="telpon">0</span>/13</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Jam Buka Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jambukaPasar }}
                            <span id="letter-count-buka"><span id="buka">0</span>/5</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Jam Tutup Pasar:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jamtutupPasar }}
                            <span id="letter-count-tutup"><span id="tutup">0</span>/5</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Link Foto Pasar:</h5>
                        </label>
                        <div class="col-sm-10" style="pointer-events:none;">
                            {{ form.fotoPasar }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <h5>Alamat Pasar:</h5>
                        </label>
                        <div class="col-sm-10" style="pointer-events:none;">
                            {{ form.alamatPasar }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Ubah"/>
                </div>
            </form>

            </p>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'pasar/pasar.js' %}"></script>
{% endblock %}