{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Tambah Foto Untuk Tempat Hiburan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/addFoto.css' %}">
{% endblock %}
{% block headercontent %}
    <span>Tambah <br> Foto Untuk <br> Tempat Hiburan</span>
{% endblock %}
{% block content %}
<div class="container mt-5" style="margin: auto;">
    <a class="btn btn-primary btn-block ml-3" style="font-size: 20px; color: white;
    width: fit-content; margin-bottom: 30px ;margin-top: 30px;" id="ubah-tema"
    role="button"><strong>Ubah Tema</strong></a>
    <div class="row justify-content-center">
        <div class="card-body "
            style="border: none; border-radius: 20px; border-color: #2c063c; background-color:#F2F2F2; ">

            <p class="card-text">
                <br>
                <form method="POST" style="margin: 10px;">
                    <div class="form-group">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 form-control-label"> <h5>Link Foto:</h5></label>
                            <div class="col-sm-10" >
                                {{ data.link_foto }}
                                <span id="letter-count-link-foto"><span id="link-foto">0</span>/400 </span>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg" value="Tambah" />
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/hiburan.js' %}"></script>
{% endblock %}
