{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Cek Tempat Hiburan</title>
{% endblock %}
{% block headercontent %}
    <span>Tempat Hiburan</span>
{% endblock %}
{% block content %}
<div style="margin-top: 5rem;">
    <div class= "d-flex "style="
               position: absolute; 
               top: 350px;
               right: 100px;
                "><a class="btn btn-primary btn-block mr-3" style="font-size: 20px; color: white;
        width: fit-content; margin-bottom: 30px ;margin-top: 30px;" href="{% url 'hiburan:addTempat'%}" 
        role="button"><strong>+ Tambah Tempat</strong></a>
        <a class="btn btn-primary btn-block" style="font-size: 20px; color: white;
        width: fit-content; margin-bottom: 30px ;margin-top: 30px;" id="ubah-tema"
        role="button"><strong>Ubah Tema</strong></a>
    </div>

    <div class="row justify-content-center mt-5" id="contentBox">
       
    </div>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/hiburan.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hiburanapi.js' %}"></script>

{% endblock %}
