{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Cek Tempat</title>
{% endblock %}
{% block headercontent %}
    <span style="font-size: 70px; line-height: normal;">Bagi Informasi</span>
{% endblock %}
{% block content %}

    <br><br>
    <div class="container" style="margin: auto;">
        <div class="row justify-content-center ">
            <div class="card text-dark align-items-center m-5"
                 style="background-color: #fafafa; width: 20rem; box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); margin-right: 50px; margin-bottom: 50px; max-width: 100%; align-content: center; border-radius: 10px ;">


                <div class="card-body">
                    <!--foto -->
                    <img class="card-img-top border-0" src="{% static 'makan.png' %}" alt="Foto Pasar">
                    <div class="text-center"><a id="detail" href="{% url 'restoran:add' %}"
                                                class="btn btn-primary"
                                                style="border-radius: 20px;margin-top: 20px;  width: 18rem;">Bagi
                        Informasi Restoran</a></div>
                </div>

            </div>

            <div class="card text-dark align-items-center m-5"
                 style="background-color: #fafafa; width: 20rem; box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); margin-right: 50px; margin-bottom: 50px; max-width: 100%; align-content: center; border-radius: 10px ;">


                <div class="card-body">
                    <!--foto -->
                    <img class="card-img-top border-0" src="{% static 'belanja.png' %}" alt="Foto Pasar">
                    <div class="text-center"><a id="detail" href="{% url 'pasar_zaldy:pasar_tambah' %}"
                                                class="btn btn-primary"
                                                style="border-radius: 20px; margin-top: 20px;  width: 18rem;">Bagi
                        Informasi Pasar</a></div>
                </div>

            </div>

            <div class="card text-dark align-items-center m-5"
                 style="background-color: #fafafa; width: 20rem; box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); margin-right: 50px; margin-bottom: 50px; max-width: 100%; align-content: center; border-radius: 10px ;">


                <div class="card-body">
                    <!--foto -->
                    <img class="card-img-top border-0" src="{% static 'sakit.png' %}" alt="Foto Pasar">
                    <div class="text-center"><a id="detail" href="{% url 'rumah_sakit:tambahRS' %}"
                                                class="btn btn-primary"
                                                style="border-radius: 20px;margin-top: 20px;  width: 18rem;">Bagi
                        Informasi Rumah Sakit</a></div>
                </div>

            </div>

            <div class="card text-dark align-items-center m-5"
                 style="background-color: #fafafa; width: 20rem; box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); margin-right: 50px; margin-bottom: 50px; max-width: 100%; align-content: center; border-radius: 10px ;">


                <div class="card-body">
                    <!--foto -->
                    <img class="card-img-top border-0" src="{% static 'main.png' %}" alt="Foto Pasar">
                    <div class="text-center"><a id="detail" href="{% url 'hiburan:addTempat' %}"
                                                class="btn btn-primary"
                                                style="border-radius: 20px;margin-top: 20px;  width: 18rem;">Bagi
                        Informasi Tempat Hiburan</a></div>
                </div>

            </div>


        </div>

    </div>


{% endblock %}
