{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock %}

{% block headercontent %}
<span style="font-size: 70px; line-height: normal;">LOGIN</span>
{% endblock %}
    
{% block content%}
<div class="container pt-5 mt-5">
    <div>    
        <div>    
            <form action="" method="POST">
                {% csrf_token %}
                <div class="username d-flex flex-column">
                        <label for="username"style="
                            font-size : 21px;
                        "><strong> Username: </strong></label>
                        <input type="text" name="username" id="username_box" required style="
                        border-radius: 8px;
                        height: 43px;
                        ">
                        <br>
                </div>
                <div class="password d-flex flex-column">
                    <label for="password"style="
                        font-size : 21px;
                        "><strong>Password:</strong> </label>
                        <input name="password" type="password" id="password_box" required style="
                            border-radius: 8px;
                            height: 43px;
                        ">
                        <br>    
                </div>
                    <input type="submit" value="Log In" class="btn btn-primary" id="login-submit" style="
                        border-radius: 21px;
                        height: 35px;
                        width: 150px;
                        font-weight: 700;
                ">    
            </form>    
            <a href="{% url 'sistemlogin:sign_up' %}"><button type="button" class="btn btn-outline-dark mt-2" style="
                        border-radius: 21px;
                        height: 35px;
                        width: 256px;
                    font-weight: 1000;
                ">Don't Have an Account?</button></a>
        </div>
    </div>
</div>
{% for message in messages %}
{{ message }}
{% endfor %}

{% endblock %}