{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Signup</title>
{% endblock %}

{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">SIGN-UP</span>
{% endblock %}
    
{% block content%}
<div class="container pt-5 mt-5">
    <div>    
        <div>    
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="username d-flex flex-column">
                        <div style="
                            font-weight: 700;
                            font-size: 20px;
                        ">{{ field.label_tag }}</div>
                        {{ field }}
                        <br>
                    </div>
                {% endfor %}
                    <input type="submit" value="Register" class="btn btn-primary" id="login-submit" style="
                        border-radius: 21px;
                        height: 35px;
                        width: 150px;
                        font-weight: 700;
                    ">    
            </form>
            <a href="{% url 'sistemlogin:log_in' %}"><button type="button" class="btn btn-outline-dark mt-2" style="
                        border-radius: 21px;
                        height: 35px;
                        width: 256px;
                    font-weight: 1000;
                ">Already Have an Account?</button></a>
        </div>
    </div>
</div>
{% for message in messages %}
{{ message }}
{% endfor %}

{% endblock %}
