{% extends 'base.html' %}
{% block meta %}
<!-- blm load css -->
    {% load static %}
    <!-- <link src="{% static 'rumah_sakit/style.css' %}"> -->
    <title>Rumah Sakit</title>
{% endblock %}
{% block headercontent %}
    <span>Rumah Sakit</span>
    <br>
{% endblock %}
{% block content %}
<div class="container" id="background-base">
    <div> 
        <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white;  width: 12rem; margin-bottom: 30px; margin-top: 30px; border-radius: 20px;" href="{% url 'rumah_sakit:tambahRS' %}" role="button">+ Tambah RS</a>
        <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white;  width: 12rem; margin-bottom: 30px; margin-top: 30px; border-radius: 20px;" id="ubah-tema" role="button">Ubah Tema</a>
    </div>

    <div class="row justify-content-center">
        <div class="contentBox">

        </div>
        
    </div>
</div>

<script type="text/javascript" src="{% static 'rumah_sakit/rs.js' %}"></script>
<script type="text/javascript" src="{% static 'rumah_sakit/RSapi.js' %}"></script>
{% endblock %}