{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Rumah Sakit</title>
{% endblock %}
{% block headercontent %}
    <span>Tambah Rumah Sakit</span>
{% endblock %}
{% block content %}
<br><br>
    <div class="container" style="background-color: #f7f7f7">
        <br><br>
            <form action="" method="POST" id="addForm" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Nama Rumah Sakit:</td>
                        <td style="width: 35rem;"><div class="d-flex">{{form_rs.nama_rs}}<span id="letter-count-nama"><span id="nama">0</span>/50</span></div> </td>
                    </tr>
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Status:</td>
                        <td style="width: 35rem;">{{form_rs.status}}</td>
                    </tr>                    
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Link Foto:</td>
                        <td style="width: 35rem;"><div class="d-flex">{{form_rs.link_foto}}<span id="letter-count-link-foto"><span id="link-foto">0</span>/200</span></div> </td>
                    </tr>                    
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Website Rumah Sakit:</td>
                        <td style="width: 35rem;"><div class="d-flex">{{form_rs.link_rs}}<span id="letter-count-link-rs"><span id="link-rs">0</span>/100</span></div></td>
                    </tr>
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Pasien Covid:</td>
                        <td style="width: 35rem;">{{form_rs.covid}}</td>
                    </tr>                      
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Rapid/Swab:</td>
                        <td style="width: 35rem;">{{form_rs.test_rs}}</td>
                    </tr>  
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">Alamat Rumah Sakit:</td>
                        <td style="width: 35rem;"><div class="d-flex">{{form_rs.alamat}}<span id="letter-count-alamat"><span id="alamat">0</span>/200</span></div></td>
                    </tr>
                </table>
                <div id="messageBox">

                </div>
                <div class="text-right"> 
                    <input class="btn btn-primary btn-lg" type="submit" value="Tambahkan" style="line-height: 1rem; font-size: 1rem;" id="submitButton">
                </div>
            </form>
            <br><br>
            <br><br>
    </div>


    <script type="text/javascript" src="{% static 'rumah_sakit/rs.js' %}"></script>
    <script type="text/javascript" src="{% static 'rumah_sakit/addRS.js' %}"></script>


{% endblock %}