{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Rumah Sakit</title>
{% endblock %}
{% block headercontent %}
    <span>Tambah Dokter</span>
    <!-- button search disini -->
{% endblock %}
{% block content %}
<br><br>
    <div class="container" style="background-color: #f7f7f7">
        <br><br>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {% for form in form_dokter %}
                    <tr style="line-height: 4rem;">
                        <td style="width: 30rem; font-size: large; font-weight: bold;">{{form.label}} </td>
                        <td style="width: 35rem;">{{form}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="text-right"> 
                    <input class="btn btn-primary btn-lg" type="submit" value="Tambahkan" style="line-height: 1rem; font-size: 1rem;">
                </div>
            </form>
            <br><br>
            <br><br>
    </div>
{% endblock %}