{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Rumah Sakit</title>
{% endblock %}
{% block headercontent %}
    <span>Update {{rs.nama_rs}}</span>
{% endblock %}
{% block content %}
<br><br>
    <div class="container" style="background-color: #f7f7f7">
        <br><br>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {% for form in form_rs %}
                        {% if form.label == "Nama Rumah Sakit" %}
                        <tr style="line-height: 4rem;">
                            <td style="width: 30rem; font-size: large; font-weight: bold;">{{form.label}}</td>
                            <td style="width: 35rem;">{{rs.nama_rs}}</td>
                        </tr>
                        {% elif form.label == "Foto" %}     
                        {% elif form.label == "Alamat" %}     
                        {% elif form.label == "Link Rumah Sakit" %}
                        <tr style="line-height: 4rem;">
                            <td style="width: 30rem; font-size: large; font-weight: bold;">{{form.label}}</td>
                            <td style="width: 35rem;">{{rs.link_rs}}</td>
                        </tr>
                        {% else %}
                        <tr style="line-height: 4rem;">
                            <td style="width: 30rem; font-size: large; font-weight: bold;">{{form.label}}</td>
                            <td style="width: 35rem;">{{form}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <div class="text-right"> 
                    <input class="btn btn-primary btn-lg" type="submit" value="Simpan" style="line-height: 1rem; font-size: 1rem;">
                </div>
            </form>
            <br><br>
    </div>
{% endblock %}