{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'restoran/restoranstyle.css' %}">
    <title>Tambah Restoran</title>
{% endblock %}
{% block headercontent %}
    <span class="lh-0">Update {{ restoran.nama }}</span>
{% endblock %}
{% block content %}
    <br><br><br>
    <div class="container" style="margin: auto;">
        <div class="row justify-content-center">
            <div class="card-body"
                 style="border: none; border-radius: 20px; border-color: #2c063c; background-color:#F2F2F2; ">
                <h5 class="card-title h4 mt-0 title">Update {{ restoran.nama }}</h5>
                <p class="card-text">
                <form method="POST" style="margin: 10px;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group row">
                            <label for="nama" class="col-sm-2 form-control-label"><h5>Nama Tempat Makan:</h5></label>
                            <div class="col-sm-10">
                                <input type="text" id="nama" name="nama" value="{{ restoran.nama }}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="picture" class="col-sm-2 form-control-label"><h5>Foto</h5></label>
                            <div class="col-sm-10">
                                {{ form.picture }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kategori" class="col-sm-2 form-control-label"><h5>Kategori</h5></label>
                            <div class="col-sm-10">
                                {{ form.kategori }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="time_open" class="col-sm-2 form-control-label"><h5>Jam Buka:</h5></label>
                            <div class="col-sm-10">
                                {{ form.time_open }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="time_close" class="col-sm-2 form-control-label"><h5>Jam Tutup:</h5></label>
                            <div class="col-sm-10">
                                {{ form.time_close }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telepon" class="col-sm-2 form-control-label"><h5>Telepon</h5></label>
                            <div class="col-sm-10">
                                {{ form.telepon }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jenis_pesanan" class="col-sm-2 form-control-label"><h5>Jenis Pemesanan:</h5>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="jenis_pesanan" name="jenis_pesanan"
                                       value="{{ restoran.jenis_pesanan }}"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="alamat" class="col-sm-2 form-control-label"><h5>Alamat</h5></label>
                            <div class="col-sm-10">
                                <input type="text" id="alamat" name="alamat" value="{{ restoran.alamat }}" disabled>
                            </div>
                        </div>
                        <div class="button d-flex justify-content-center">
                            <input type="submit" value="Simpan" class="btn btn-block" style="border-radius: 25px;
                        font-size: 25px; color: white; background-color:#4180E2;
                        width: 10em; margin-bottom: 30px ;margin-top: 30px;"
                                   role="button"/>
                            <a class="btn btn-danger btn-block ml-2" style="border-radius: 25px;
                        font-size: 25px; color: white; background-color:#E24141;
                        width: 10em; margin-bottom: 30px ;margin-top: 30px;" href="{% url 'restoran:detail' restoran.id  %}"
                               role="button"><strong>Batal</strong></a>
                        </div>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
